<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

    <title>Biblioteca Xirley</title>
</head>

<header>
    <div class="imagem" id="logo"> </div>
    
    <h3>
        <a class="inicio" id="inicio" href="/">Início</a>
        |
        <a class="acervo" id="acervo" href="/acervo">Acervo</a>
        |
        <a class="sobre" id="sobre" href="/sobre">Sobre</a>
    <h3>
</header>

<body class="inicio">
        <br>
    <h1>
        ACERVO 
    </h1>

        <p class="texto_a">
            Para exemplificar tudo o que a biblioteca Xirley ensinou e  ensinará, temos nosso acervo com mais de 120 conteúdos produzidos por 40 autores muito bem capacitados. São diversos infográficos, análises de perfis inovadores, mapas mentais, artigos e textos sobre inovação, mapa de empatia, canvas, pitchs, vídeos sobre inovação e até mesmo podcasts.
        </p>
            <br><br>
        
        <a href="https://tinyurl.com/acervoxirley" target="_blank">
            <div class="img_acervo"></div>
        </a>
      
</body>
</html>
