<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

    <title>Biblioteca Xirley</title>
</head>

<header>
    <div class="imagem" id="logo"> </div>
    
    <h3>
        <a class="inicio" id="inicio" href="/">Início</a>
        |
        <a class="acervo" id="acervo" href="/acervo">Acervo</a>
        |
        <a class="sobre" id="sobre" href="/sobre">Sobre</a>
    <h3>
</header>

<body>
    <h1 class="título3">

    </h1>
        <br><br><br>

        <p class="texto">
            Dentro das organizações podemos ter diversos tipos de inovação, fomentando assim o crescimento geral e a criatividade do ambiente produtivo.
        </p>
            <br>
            <ol class="lista">
                <li>
                    <strong>
                        Inovação de produto:
                    </strong>
                </li>
                    <br>
                    <p class="texto">
                        Se dá quando um produto revolucionário é inserido no mercado, proporcionando novas funcionalidades e recursos, de forma nunca vista antes naquele determinado segmento.
                            <br>
                        Podemos citar como exemplo o lançamento anual da Apple com os iPhones que trazem sempre alguma funcionalidade inesperada, a fim de atrair novos consumidores e proporcionar algo novo para o mercado de smartphones.
                    </p>
                        <br>
                <li>
                    <strong>
                        Inovação de serviços
                    </strong>
                </li>
                    <br>
                    <p class="texto">
                        Ocorre quando são disponibilizados dentro de uma empresa um novo portfólio de serviços, a fim de melhorar a qualidade ou até mesmo de alcançar um público específico.
                            <br>
                        Um belo exemplo seria a gama de produtos premium de empresas que estão inseridas no mercado, levando assim um produto de alta qualidade a quem pode pagar como viagens na primeira classe ou classe econômica.
                    </p>
                    <br>
                <li>
                    <strong>
                        Inovação em processo produtivo:
                    </strong>
                </li>
                    <br>
                    <p class="texto">
                        Acontece dentro do processo de fabricação quando se pretende alterar o modo de produção a fim de reduzir custos e otimizar o tempo.
                    </p>
                    <br>
                <li>
                    <strong>
                        Inovação em modelo de negócios:
                    </strong>
                </li>
                    <br>
                    <p class="texto">
                        Temos diversas startups de sucesso se consolidando como empresa no mercado hoje em dia. Inovar em modelo de negócio é simplesmente enxergar o “fazer negócio além do comum” e levar para um âmbito mais criativo, muitas vezes influenciando no meio de trabalho a fim de incentivar novas formas de criatividade, por fim agregando valor altíssimo ao cliente de forma nunca antes vista.

                    </p>
                    <br>
                <li>
                    <strong>
                        Inovação tecnológica:
                    </strong>
                </li>
                    <br>
                    <p class="texto">
                        Podemos associar diretamente a um novo produto ou nova funcionalidade dentro de um produto ou serviço já existente, fazendo o uso de uma nova tecnologia jamais antes vista ou usada daquela maneira.
                    </p>
                        <br>
                <li>
                    <strong>
                        Inovações logísticas:
                    </strong>
                </li>
                    <br>
                    <p>
                        Se dá pelo estudo da logística de transportes e o trabalho em cima de otimização de entregas de produtos. No exterior temos como exemplo a Amazon fazendo entregas com drones.

                    </p>
                    <br>
                <li>
                    <strong>
                        Inovação em marketing:
                    </strong>
                </li>
                    <br>
                <p>
                    Se trata de novas formas de atrair clientes para uma empresa, hoje em dia o marketing digital se tornou uma área muito atrativa pois movimenta muito dinheiro anualmente e traz resultados bastante positivos para empresas em crescimento ou já consolidadas.

                </p>
             </ol>
                <br><br>
            <p class="texto">
                Pudemos perceber que inovação é tudo aquilo que	vai além da perspectiva comum, agregando valor ao processo produtivo de uma empresa. Inovação é questão de estudo, mas também é questão de prática. Para se tornar um grande inovador é necessário apenas tentar e ir se aperfeiçoando durante a jornada do processo criativo.
            </p>
                <br><br><br>
    <h4>
        <small>
            <ul class="referencias">
                <li>
                    https://shawee.io/blog/tipos-de-inovacao/ Acesso em 10/12/2021 às 13:56h
                </li>
            </ul>
    </h4>

    <footer class="rodape">
        Todos os direitos reservados. 2021
    </footer>
</body>
</html>
