<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

    <title>Biblioteca Xirley</title>
</head>

<header>
    <div class="imagem" id="logo"> </div>
    
    <h3>
        <a class="inicio" id="inicio" href="/">Início</a>
        |
        <a class="acervo" id="acervo" href="/acervo">Acervo</a>
        |
        <a class="sobre" id="sobre" href="/sobre">Sobre</a>
    <h3>
</header>
        
<body>
    <h1 class="título5">

    </h1>
            <br><br><br>
        <p class="texto">
            Existem muitas personalidades de diversas áreas que estão no palco central do mundo e sempre buscamos saber como chegaram ali, como fazem para serem o que são e se é possível ser igual a eles. Essas dúvidas aparecem porque não é comum ver pessoas tão diferenciadas e fazendo coisas muito diferentes do normal.
        </p>
            <br>
        <p class="texto">
            Grandes nomes como Elon Musk, Jeff Bezos, Steve Jobs, Michael Jackson, Malala, entre muitos outros dão a impressão que para ser inovador é necessário estar no topo, mas a verdade é que um dia eles não estiveram no topo. Porém uma coisa se manteve independentemente da posição que já estiveram, <strong>a mentalidade.</strong>
        </p>
            <br>
        <p class="texto">
            Não é possível delimitar características padrão entre eles, até porque isso é muito subjetivo e para determinado problema, certa característica não se aplicava. Mas isso não significa que eles tenham um “dom”, ou sejam seres sobrehumanos. Sem dúvida alguma são diferenciados e isso chama a atenção, até mesmo por causa de toda a visibilidade que receberam e pelo tamanhos dos seus feitos. Mas não acredite que apenas nomes estabelecidos são inovadores. A juventude está mostrando a cada dia, como seres inovadores não precisam estar no palco central do mundo para fazer uma diferença equivalente aos que estão. 
        </p>
            <br>
        <p class="texto">
            Vale dizer que o mérito de um sujeito inovador não deve ser medido em quanto dinheiro ele ganhou. Na verdade, nenhuma conquista deve se basear nisso. Valores são consequência daquilo. Se você busca ser uma pessoa inovadora apenas pensando que assim ganhará dinheiro, talvez você não tenha entendido bem os conceitos da inovação.

        </p>
            <br>
        <p class="texto">
            Como exemplo de grandes inovadores que não precisam estar no palco do mundo para terem relevância igual ou superior que os já estabelecidos, vale citar <strong>Vitalik Buterin</strong>, criador da cripto moeda Ethereum que hoje, junto com o Bitcoin representa dois terços do mercado de criptomoedas, que chega aos 2.5 trilhões de dólares. Provavelmente, se você gosta desse universo, você o conhece, mas para o resto das pessoas ele seria um total desconhecido. 
        </p>
            <br>
        <p class="texto">
            Outro bom exemplo, e agora vindo do nosso querido país, é <strong>Fred Rabelo</strong>, pernambucano criador da TI Saúde. Plataforma que permite consultas a distância.  Caso você não tenha estado no planeta terra durante os anos de 2019 e 2021, passamos por uma pandemia de um vírus mortal que contaminava qualquer pessoa com muita facilidade através das vias aéreas, com isso, sair de casa era muito perigoso. A tecnologia criada por ele e sua equipe permitiram que as pessoas se consultassem sem sair de casa. Você provavelmente também não o conhece, mas pode ter usado sua tecnologia que foi essencial para manter as pessoas conectadas com seus médicos sem sair de casa em um momento muito delicado.
        </p>
            <br>
        <p class="texto">
            Ok, agora você deve estar se perguntando: “Legal, descobri gente que não é conhecida e fizeram coisas incríveis, mas, como eu posso ser igual a elas? O que as torna diferentes?”.
            A resposta para essas questões não é fácil. Porque ambas tiveram seus motivos para desenvolver o que desenvolveram. Como a linguagem é algo vivo, poderíamos citar várias características e ainda assim não acabariam. Mas podemos dizer algumas que todos eles têm em certo grau.
        </p>
            <br><br>


        <ol class="lista">
            <li>
                <strong>
                    PERSISTÊNCIA
                </strong>
            </li>
                <br>
                <p class="texto">
                    Não tenha dúvida que nenhuma das pessoas que citamos tiveram trabalho fácil para fazer o que fizeram. Para isso tiveram que ser persistentes. Essa característica já faz com que a quantidade de pessoas inovadoras já diminuam drasticamente. Você conhece um amigo que desiste de tudo muito rápido, se não conhece, essa pessoa é você. Vale dizer que persistir é diferente de se manter no erro. Pense em persistir dessa forma: Você está desenvolvendo um site, mas acha que ele está feio e decide que vai fazer ele ficar como você quer. 
                </p>
                     <br>
                <p class="texto">
                    Mesmo que você tenha dificuldades você não vai desistir daquilo e mesmo se der errado, saberá que fez tudo o que pôde. Se manter no erro é como fazer uma pesquisa e ver que a pesquisa resultou em valores totalmente diferentes do que você acreditava, mas, mesmo sabendo disso, você decide ir contra os fatos. Saber diferenciar quando você está no erro ou está persistindo também faz parte de outra característica de um sujeito inovador.
                </p>
                    <br>
            <li>
                <strong>
                    ADAPTABILIDADE
                </strong>
            </li>
                 <br>
                <p class="texto">
                    Uma pessoa inovadora, consegue entender o que se passa ao seu redor e com isso lidar com as questões. Ela não precisa estar totalmente alinhada com o mundo, mas precisa saber que as coisas estão em constante mudança e com isso precisam saber se adaptar para novas situações e adequar suas ideias para aquela realidade. Com isso, acaba surgindo uma outra habilidade, a pivotagem, que é quando a pessoa muda o que estava desenvolvendo ao ver que não estava adequada a determinado valor estabelecido. Saber o momento de mudar é muito importante para qualquer tipo de trabalho que esteja sendo desenvolvido.
                </p>
                    <br>
            <li>
                <strong>
                    ATITUDE
                </strong>
            </li>
                    <br>
                <p class="texto">
                    Não adianta ser um gênio se você não bota a mão na massa, a atitude está inteiramente ligada à persistência. Muitas pessoas têm atitude para pensar em algo legal, mas não colocam nem mesmo no papel. Você pode ter pensado em algo que ajudaria o mundo todo e simplesmente desistiu porque começou a impor barreiras em si mesmo. Alguém inovador, simplesmente começa a fazer algo, se der errado é um aprendizado, mas não vai dizer jamais que não tentou. Tentar requer muita coragem e isso é imprescindível para a criação de algo inovador.
                </p>
                    <br>
                <li>
                    <strong>
                        CORAGEM
                    </strong>
                </li>
                    <br>
                    <p class="texto">
                        Lidar com algo novo, é ouvir que não conseguirá alcançar seus objetivos, que você está “inventando moda”, ouvir que ninguém usaria o que você criou. Ou seja, ser inovador requer ter força de vontade suficiente para continuar e muita coragem para ouvir todas as críticas, que em maioria não são construtivas, e manter seu foco no que você está fazendo. Mas relaxa, depois que o  que era “impossível” fica pronto, todas essas pessoa vão te parabenizar e ver como você se manteve firme mesmo com todas as pressões.
                    </p>
                    <br>
                <li>
                    <strong>
                        FOCO
                    </strong>
                </li>
                    <br>
                    <p class="texto">
                        Se você decidir que vai fazer algo e começar, se mantenha naquilo e somente no que você está desenvolvendo, faça as coisas por partes, primeiro termine um projeto para começar outro. O tempo que vai levar não importa, o que importa é você terminar o que começou. Grandes ideias chegaram até a metade e morreram por falta de 10% de persistência e 90% de foco. Pessoas inovadoras estão focadas nas coisas que desenvolvem.
                    </p>
                        <br>
                    <p class="texto">
                        Como dizemos, podemos continuar citando diversas características que compõem o sujeito inovador, mas, de acordo com o que acreditamos, essas cinco podem te dar um norte para entender o que é um sujeito inovador e como ser um. Lembre-se, todos nós somos inovadores, apenas deixamos de ser por causa de outros fatores que nos limitaram, falta de tempo, acreditar que é incapaz, até mesmo a família pode impedir nosso desenvolvimento como ser inovador. Mas nada está perdido, estude e se espelhe em pessoas que te inspiram. Agora é hora de arregaçar as mangas e ser um sujeito inovador. <strong>Mãos à obra!</strong>
                    </p>
             </ol>
                <br><br>
                
    <footer class="rodape">
        Todos os direitos reservados. 2021
    </footer>
</body>
        </html>
