<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

    <title>Biblioteca Xirley</title>
</head>

<header>
    <div class="imagem" id="logo"> </div>
    
    <h3>
        <a class="inicio" id="inicio" href="/">Início</a>
        |
        <a class="acervo" id="acervo" href="/acervo">Acervo</a>
        |
        <a class="sobre" id="sobre" href="/sobre">Sobre</a>
    <h3>
</header>

<body>
    <h1 class="título8">

    </h1>
        <br><br><br>

        <p class="texto">
            Você está com aquela ideia diferenciada, já fez toda a ideação, fez seus canvas, matriz csd e usou todo tipo de ferramenta para validar sua ideia e viu que agora é só começar a produzir. Mas, você percebe que vai precisar de dinheiro para tirar sua ideia do papel. O que fazer? Desistir da ideia e voltar para meu trabalho? <strong>JAMAIS.</strong> Existem meios de captar recursos para sua inovação. Vamos te mostrar que existem diversas formas para tirar sua ideia do papel com o dinheiro de investidores e até mesmo através da  tão conhecida “vaquinha”.
        </p>
            <br>
        <p class="texto">
            Vale dizer que, dependendo do que você pretende construir, você tem grandes chances de conseguir desenvolver tudo de forma gratuita, existem diversos programas gratuitos que permitem fazer todo o processo de front-end, back-end e banco de dados totalmente de graça. Sabendo disso e se o seu caso se encaixa aqui, existem formas de monetizar sua criação. 
        </p>
            <br>
                <div class="figura2" id="fig2">

                </div>
                    <br>
        <p class="texto">
            As formas de monetização listadas no infográfico são utilizadas por todas as empresas que conhecemos, independente do tamanho. O Google age como plataforma multilateral, o Spotify usa o sistema freemium, onde o usuário tem acesso ao app de modo gratuito, mas acesso às músicas sem anúncio e para fazer download precisa pagar a assinatura e existe a forma mais usada em sistemas totalmente gratuitos, a venda de informações. Onde as informações dos usuários são vendidas para empresas relacionadas ao app  e isso é uma forma bem rentável de monetização. 
        </p>
            <br>
        <p class="texto">
            Para entender muito bem como funcionam todos os padrões de negócios e mais coisas para o desenvolvimento da sua startup vale a leitura do livro <strong>Business Model Generation.</strong> Um guia essencial para novos empreendimentos.
        </p>
            <br>
        <p class="texto">
            Agora que você sabe que existem formas de monetizar sua criação, mas ainda assim precisa de dinheiro inicial para desenvolvê-la, então você terá que recorrer a financiamentos. A boa notícia é que esses investidores estão crescendo cada vez mais, o que torna a possibilidade de tirar sua ideia do papel, algo bem real. 
        </p>
            <br>

            <h2 class="subtítulo">
                INCUBADORAS E ACELERADORAS
            </h2>
                <div class="figura3" id="fig3">

                </div>
                    <br>

                <p class="texto">
                    Um meio de conseguir financiamento para sua startup são as incubadoras e aceleradoras. Você irá escolher o processo seletivo de acordo com a sua startup.
                </p>
                    <br>
                <p class="texto">
                    Se ela está no zero, no início, você buscará incubadoras. As incubadoras oferecem espaço para o desenvolvimento das suas coisas, contato com outras startups, mentoria especializada e networking com empreendedores. Ela existe para fazer com que sua ideia saia do papel e realmente exista, dando frutos. Tendo todo o suporte de uma instituição munida de profissionais e ferramentas para desenvolvimento, sua startup com certeza irá sair do papel com bastante sucesso.
                </p>
                    <br>
                <p class="texto">
                    As aceleradoras aparecem quando as startups já estão em equilíbrio, ou seja, quando estão começando a dar lucratividade. Vão oferecer mentoria relacionada ao mercado, fazer networking com investidores. Ela seria o passo que uma startup dá quando está equilibrada, mas agora precisa de lucro. 
                </p>
                    <br>
                <p class="texto">
                    A diferença entre elas está relacionada ao desenvolvimento, uma startup inicial não vai para uma aceleradora porque está muito recente, não se sabe nem mesmo se conseguirá se desenvolver. A incubadora recebe esse nome de forma proposital, ela vai gerar novas empresas
                </p>
                    <br>
                <p class="texto">
                    Vale dizer que para fazer parte de uma incubadora ou aceleradora, você precisa devolver algo, geralmente, ao se juntar você assina contrato cedendo parte da sua startup para elas se o negócio der certo, afinal, ninguém faz nada de graça. A verdade é que mesmo cobrando determinada porcentagem na maioria das vezes compensa, porque o aporte delas não é apenas financeiro, mas de mentoria, contato e isso é mais importante do que receber dinheiro, afinal, você será direcionado para o ponto certo.
                </p>
                    <br>

            <h2 class="subtítulo">
                CROWDFUNDING
            </h2>
                <div class="figura4" id="fig4">

                </div>
                    <br>
                <p class="texto">
                    Os processos seletivos das incubadoras não são fáceis e muitas vezes grandes ideias não são aceitas, mas isso não é o fim da linha. Existe uma forma de receber apoio através de financiamento coletivo, ou crowdfunding. Um grande exemplo disso é a plataforma Catarse. Funciona assim, você descreve sua ideia e define uma meta financeira, pessoas irão ver sua ideia e vão apoiá-la para alcançar a meta que você definiu, em um dos tipos, caso a meta não seja atingida, as pessoas recebem o dinheiro de volta e não perdem nada. 
                </p>
                    <br>
                <p class="texto">
                    O crowdfunding é uma forma real de fazer as ideias saírem do papel, você estará mostrando sua ideia para o mundo, a dificuldade pode ser aparecer, afinal, você não é a única pessoa inovadora. Então é necessário fazer um texto chamativo, estruturar sua ideia da melhor forma possível e assim suas chances de sucesso aumentam muito. Caso você ache que o financiamento coletivo não consegue captar muitos recursos, muitos projetos no catarse arrecadaram mais de 1 milhão de reais, apenas com o apoio de quem quiser doar.
                </p>
                    <br>
                <p class="texto">
                    Não tem desculpa para fazer a inovação acontecer. Se você acreditar na sua ideia e souber vender ela da melhor forma, conseguirá chamar a atenção de um incubadora ou até mesmo nas plataformas de financiamento coletivo. Acredite na sua ideia e faça ela sair do papel. Caso não consiga de primeira, não desista, existem diversas incubadoras e você pode anunciar sua ideia quantas vezes quiser. <strong>Tenha foco e determinação que futuramente sua ideia poderá estar ajudando a humanidade!</strong>
            <br><br><br>
    <h4>
        <small>
            <ul class="referencias">
                <li>
                    https://fintech.com.br/blog/startup/o-que-e-crowdfunding/
                </li>
                    <br>
                <li>
                    https://ice.org.br/incubadoras/
                </li>
                    <br>
                <li>
                    https://conube.com.br/blog/investimento-para-startup/
                </li>
            </ul>
        </small>
    </h4>
                
    <footer class="rodape">
        Todos os direitos reservados. 2021
    </footer>
</body>
        </html>
